body {
  background-color: black;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 90vh;
  margin-bottom: 70px;
}

.left-column {
  width: 60%;
  height: 100%;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
}

.right-column {
  width: 40%;
  height: 100%;
  /* border: 1px solid white; */
}

.user-info {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 50px;
}

.left-column > .left-top {
    padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.user-info > i {
  font-size: 8em;
  color: white;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.total-users {
  padding-left: 28px;
  font-size: 1.2em;
}

.left-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-favourites {
	text-decoration: none; 
	color: white;
	font-size:  1.5em;
	transition: color 0.5s;
}

.my-favourites:hover{
	color: purple;
}

.links-container{
	display: flex;
	justify-content: space-between;
	border: 1px solid white;
}

.links-container > p:hover{
    color: rgb(81, 81, 206);
    transition: color 0.5s;
}

.left-bottom-div > p > a:hover{
    color: rgb(81, 81, 206);
    transition: color 0.5s;
}

.left-bottom-div > p > a{
    text-decoration: none; 
    color: white;
}


.game-list {
  display: flex;
  gap: 20px;
  height: 70%;
}

.game-list > .game-item {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.game-list >  .game-item:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.game-list > .game-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-game {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.add-game > button {
    height: 100%;
    background-color: blue;
    font: 1.1em sans-serif;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border: none;
}

.add-game > button:hover {
    background-color: rgb(81, 81, 206);
    transition: background-color 0.5s;
}

.right-top  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 20px 20px;
  border-bottom: 1px solid white;
}

.right-top > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-top > form > input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  text-align: center;
}

.right-top > form > input:focus{
  outline: none;
  border: 1px solid blue;
}

.right-top > form > button{
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  border: none;
}

.right-top > form > button:hover{
  background-color: rgb(81, 81, 206);
  transition: background-color 0.5s;
}

.right-bottom {
  padding: 20px;
}

.user-reviews{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-item{
  display: flex;
  gap: 10px;
}

.review-item > .profile{
  font-size: 3.5em;
}

.review-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reviewer-name, .review-text, .review-date, .game-name{
  margin: 0px;
}

.review-date{
  text-align: right;
  color: rgb(205, 201, 201);
}

.reviewer-name{
  display: flex;
  justify-content: space-between;
}

.game-name{
  color: rgb(205, 201, 201);
  text-align: right;
}

.reviewer-name > a, .game-name > a{
  text-decoration: none;
  color: white;
}

.reviewer-name > a:hover, .game-name > a:hover{
  color: rgb(81, 81, 206);
  text-decoration: underline;
  transition: color 0.5s;
}

.right-bottom > h3 > a{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}


.right-bottom > h3 > a:hover{
  color: rgb(81, 81, 206);
  transition: color 0.5s;
}



